@using System.Web.Mvc.Html
@using TheStudyList.Domain.Entities
@model IEnumerable<Note>

@{
    ViewBag.Title = "To Review";
}

<h2>Due</h2>

@Html.Partial("StudyListTable", Model.Where(n => n.DueDate.Date <= DateTime.Today))

<h2>Upcoming</h2>

@Html.Partial("StudyListTable", Model.Where(n => n.DueDate.Date > DateTime.Today))