@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Study List</h1>
    <p class="lead">The Study List is a web app for tracking, scheduling and managing your studies, inspired by spaced repetition systems such as Anki.</p>
    <p>@Html.ActionLink("Register!", "Register", "Account", null, new { @class="btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1. Study</h2>
        <p>
            Begin by choosing the material you wish to study, and divide it up into manageable chunks. 
            Study the chunks of material as you normally would. Taking concise notes in Evernote is highly recommended but not required.
        </p>
    </div>
    <div class="col-md-4">
        <h2>2. Add to Study List</h2>
        <p>After you have finished studying the chunk of material (or several chunks), add it to the Study List. 
            Specify the interval - how many days later you would like to review the chunk. Write out the resources you used to study the material, so you can quickly refer to them later.
            If you made notes in Evernote, you can provide the note link to quickly access it when reviewing.
        </p>
    </div>
    <div class="col-md-4">
        <h2>3. Review</h2>
        <p>Every day, check your study list to see which notes/chunks are due for you to review. 
            After reviewing a note, mark it off as reviewed and choose the difficulty of recall.
            The note will then be rescheduled with an interval depending on the difficulty you chose. Alternatively, you may enter a custom interval.
        </p>
    </div>
</div>