body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.alert {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Study List */

ul {
    margin: 0;
    padding-left: 15px;
}

.evernote, .evernote:hover {
    color: #69AA35;
}

table.review {
    table-layout: fixed;
    width: 730px;
}

table.review tr td {
    vertical-align: middle;
}

table.review .overdue {
    color: red;
    font-weight: bold;
}

table.review .due-today {
    color: darkorange;
}

#btn-study {
    height: 20px;
    width: 20px;
    padding: 0;
}

.time-est-1 {
    background-color: #d9ead3;
}

.time-est-2 {
    background-color: #fce8b2;
}

.time-est-3 {
    background-color: #f4c7c3;
}

.nav-pills {
    margin-top: 10px;
}

/* Study */
#well-study {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

#well-study .btn {
    height: 55px;
}

/* Import */
#import-tsv {
    height: 500px;
    resize: none;
    max-width: 100%;
}

/* Stats */
.chart-container {
    max-height: 200px;
    max-width: 500px;
}